body {
    background-color: lavender
}

.navbar {
    font-weight: 600
}

.navbar-light a {
    color: darkmagenta !important
}

.navbar-toggler {
    border-color: darkmagenta !important
}

.jumbotron {
    background-color: lavender;
    text-align:center
}

.headingjumbo {
    color: darkmagenta;
    font-size: 50px;
}

.btn-custom {
    background-color: mediumpurple;
    align-items: center
}

.btn {
    color: white
}

.btn-home {
    background-color: mediumpurple;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor:pointer
}

.grid {
    align-content: center
}


.hd {
    text-align: center
}


